.FormElements {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  @keyframes fadeIn {
    0% {
      transform: translateY(-25%);
    }
    50%{
      transform: translateY(4%);
    }
    65%{
      transform: translateY(-2%);
    }
    80%{
      transform: translateY(2%);
    }
    95%{
      transform: translateY(-1%);
    }			
    100% {
      transform: translateY(0%);
    }		
  }
  
  .popup {
    animation-name: fadeIn;
    animation-duration: 0.4s;
    background-clip: padding-box;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    left: 0px;
    list-style-type: none;
    margin: 0;
    outline: none;
    padding: 0;
    position: absolute;
    text-align: left;
    top: 0px;
    overflow: hidden;
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  }
  
  .popup li {
    clear: both;
    color: rgba(0, 0, 0, 0.65);
    cursor: pointer;
    font-size: 14px;
    font-weight: normal;
    line-height: 22px;
    margin: 0;
    padding: 5px 12px;
    transition: all .3s;
    white-space: nowrap;
    -webkit-transition: all .3s;
  }
  
  .popup li:hover {
    background-color: #e6f7ff;
  }
  
  .popup li > i {
    margin-right: 8px;
  }
  
  .FilterForm {
    width: 100%;
  }
  
  .DeleteBtn{
    padding: 0;
    border: unset;
    background-color: unset !important;
  }
  .Buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .FilterWrapper {
    display: flex;
    gap: 20px;
  }
  
  .InputsWrapper {
    display: flex;
    gap: 15px;
  }
  
  .Wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .Btns {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-top: 20px;
  }
  
  .ModalOpener {
    margin-bottom: 20px;
  }
  
  .Select {
    width: 300px !important;
    min-width: 100%;
  }
  .EmployeeMovementModal{
    display: flex;
    gap: 10px;
    width: 100%;
  }
  
  /* .ant-modal-root .ant-table-row:focus{
    background-color: rgb(12, 190, 190) !important;
  } */
  
  .ant-modal-root .table-row:focus {
    background-color: #f0540b;
  }
  
  .ModalOpener {
    margin-bottom: 20px;
  }
  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
  }
  .InputsWrapper {
    display: flex;
    gap: 15px;
  }
  .InputsWrapper1 {
    display: flex;
    gap: 15px;
  }
  .out-sum {
    background-color: yellow !important;
  }
  
  @keyframes fadeIn {
    0% {
      transform: translateY(-25%);
    }
    50%{
      transform: translateY(4%);
    }
    65%{
      transform: translateY(-2%);
    }
    80%{
      transform: translateY(2%);
    }
    95%{
      transform: translateY(-1%);
    }			
    100% {
      transform: translateY(0%);
    }		
  }
  
  .popup {
    animation-name: fadeIn;
    animation-duration: 0.4s;
    background-clip: padding-box;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    left: 0px;
    list-style-type: none;
    margin: 0;
    outline: none;
    padding: 0;
    position: absolute;
    text-align: left;
    top: 0px;
    overflow: hidden;
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  }
  
  .popup li {
    clear: both;
    color: rgba(0, 0, 0, 0.65);
    cursor: pointer;
    font-size: 14px;
    font-weight: normal;
    line-height: 22px;
    margin: 0;
    padding: 5px 12px;
    transition: all .3s;
    white-space: nowrap;
    -webkit-transition: all .3s;
  }
  
  .popup li:hover {
    background-color: #e6f7ff;
  }
  
  .popup li > i {
    margin-right: 8px;
  }
  
  .FilterForm {
    width: 100%;
  }
  
  .DeleteBtn{
    padding: 0;
    border: unset;
    background-color: unset !important;
  }
  .Buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .FilterWrapper {
    display: flex;
    gap: 20px;
  }
  
  .InputsWrapper {
    display: flex;
    gap: 15px;
  }
  
  .Wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .Btns {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-top: 20px;
  }
  
  .ModalOpener {
    margin-bottom: 20px;
  }
  
  .Select {
    width: 300px !important;
    min-width: 100%;
  }
  .EmployeeEnrolmentModal{
    display: flex;
    gap: 10px;
    width: 100%;
  }
  
  /* .ant-modal-root .ant-table-row:focus{
    background-color: rgb(12, 190, 190) !important;
  } */
  
  .ant-modal-root .table-row:focus {
    background-color: #f0540b;
  }
  
  .ModalOpener {
    margin-bottom: 20px;
  }
  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
  }
  .InputsWrapper {
    display: flex;
    gap: 15px;
  }
  .InputsWrapper1 {
    display: flex;
    gap: 15px;
  }
  .out-sum {
    background-color: yellow !important;
  }
  